
---
import Footer from '@/components/Footer.jsx';
import Navbar from '@/components/Navbar.jsx';
import '@/styles/global.css';
---



<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GECK Codex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <Navbar client:load />
    
    <main>
      <slot />
    </main>
    
    <Footer client:load />
  </body>
</html>